* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    color: #fc0b0b;
    font-family:  Helvetica, Arial, sans-serif;
    font-weight: 800;
     background-color:#000000;
     background-image:url("./tenor.gif");   
  }
  /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #000000;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #00ffd5;
    margin: 0;
    
  }
li{
  display: inline;
}
  /* header a { text-decoration: none;
    color: #00ffd5;
  } */
  /* header nav {
    float: right;
    margin: 7px 0;
  } */
  
   /* header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    display:flex;
    flex-direction:column;
  } */
  footer {
    background: #000000;
    width: 100%;
    padding: 40px 35px;
  }
  footer h2 {
    color: #00ffd5;
    font-size: 30px;
    margin: 0;
  }
  
  section {
    
    padding: 60px;
    }
  /* Hero Style Start */
/* .hero {
    height: 180px;  background-size: cover;
    background-position:center ;
    position:relative;
  } */
  /* Hero Style End */
  .flex-me{
    padding: auto;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    background-color:#00ffd5;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size:20px;
  }
  .section-title {
    font-size: 55px;
    color: #18e918;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #3886fc;
  }
  
  .secondary-border {
    border-color: #0edff7;
  }
  
  #run-buddy{
    background-color: red;
    border-radius: 22px;
    width:750px;
    height:280px;
    margin:30px;
    background-image:url("./hero-bg\ \(1\).jpg")
    }
  #Space-Junk{
    background-color: floralwhite;
    border-radius: 22px;
    width: 750px;
    height: 280px;
    margin: 30px;
    background-image:url("./space\ junk.jpg");
  }
#NeuroMute{
  background-color: green;
    border-radius: 22px;
    width: 750px;
    height: 280px;
    margin: 30px;
    background-image:url("./ye.jpg")
}
#Filler{
  background-color: blue;
  border-radius: 22px;
  width: 750px;
    height: 280px;
    margin: 30px;
    background-image:url("./images\ \(3\).jpg")
}
